body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #00c5cc;
}

form {
    background-color: white;
    width: 300px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 8px;
}

input, label {
    display: block;
    width: 90%;
    margin: 8px auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #00c5cc;
    color: white;
    border: none;
}
